.git
.claude
.env
node_modules
vendor
public/build
public/hot
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
*.zip
tests
