@use "../utilities" as *;

/**----------------------------------------
    START: Pricing CSS
----------------------------------------*/

.pricing-item{
    background-color: var(--cp-color-bg-2);
    padding: 45px;
    border: 1px solid #002046;
    border-radius: 8px;
    .title{
        font-size: 28px;
        font-weight: 600;
    }
    .pricing-offer{
        font-size: 16px;
        font-weight: 400;
    }
    .price{
        font-family: "NewYork", sans-serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    }
    .pricing-list{
        list-style: none;
        margin-bottom: 40px;
        li{
            @include flex-vertical-center;
            line-height: 1;
            &:not(:last-of-type){
                margin-bottom: 20px;
            }
            i{
                color: var(--cp-color-theme-primary);
                width: 25px;
            }
            &.cross-icon{
                i{
                    color: var(--cp-color-common-white);
                }
            }
        }
    }
}


/* !END: Pricing CSS */
